html {

    min-height: 500px;
}
  
  p, h3 {
      font-family: 'Montserrat', sans-serif;
      color: white;
  }
  
  
  #container {
      width: 70%;
      height: 100%;
      margin: auto;
  
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  #centered {
      width: 100%;
      height: 50%;
  }
  
  #centered h3 {
      margin: auto;
      margin-top: 5%;
      text-align: center;
  
      font-size: 4em;
      width: 100%;
  }
  
  
  
  #weblinks {
      max-width: 30em;
      height: 15%;
  
      margin: auto;
      margin-top: 3em;
  
      display: flex;
      justify-content: center;
  }
  
  
  .weblink {
      width: 72px;
      height: 72px;
      cursor: pointer;
      margin-left: 12px;
      margin-right: 12px;
  }
  
  .weblink img {
      display: block;
      width: 44px;
  
      margin: auto;
      margin-top: 4px;
      margin-bottom: 2px;
  }
  
  .weblink p {
      font-size: 0.8em !important;
      text-align: center !important;
  }
  
  
  @media only screen and (max-width: 600px) {
  
      .weblink {
          color: white;
          width: 40%;
          margin-left: 10px;
          margin-right: 10px;
          cursor: crosshair;
      }
  
      .weblink img {
          display: block;
  
          width: 34px;
          height: 34px;
      
          margin: auto;
          margin-top: 4px;
          margin-bottom: 2px;
      }
  
      .weblink p {
          font-size: 0.6em !important;
          text-align: center !important;
      }
      
  }
  
  
  
  #centered p {
      margin: auto;
      text-align: center;
  
      margin-top: 5px;
      font-size: 2rem;
  }
  
  @media only screen and (max-width: 600px) {
      #centered p {
          margin: auto;
          margin-top: 5%;
          text-align: center;
      
          font-size: 1.5rem;
      }
  }
  
  
  