body {
    font-family: "Open Sans", sans-serif !important;
    background-color: #040404;
    color: #fff;
    position: relative;
    background: transparent;
  }
  
  body::before {
    content: "";
    position: fixed;
    background: #040404 url("/icons/fondo.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
  }
  #header {
    transition: ease-in-out 0.6s;
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto;
  }
  
  #header * {
    transition: ease-in-out 0.3s;
  }
  
  #header h1 {
    font-size: 53px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  
  #header h1 a, #header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
  }
  
  #header h2 {
    font-size: 26px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
  
  #header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
  }
  
  #header img {
    padding: 0;
    margin: 0;
  }
  
  #header .social-links {
    margin-top: 40px;
    display: flex;
  }
  
  #header .social-links a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  #header .social-links a:hover {
    background: #18d26e;
  }
  
  @media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
    #header .social-links {
      margin-top: 15px;
    }
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  /* Header Top */
#header.header-top {
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  
  #header.header-top .social-links, #header.header-top h2 {
    display: none;
  }
  
  #header.header-top h1 {
    margin-right: auto;
    font-size: 36px;
  }
  
  #header.header-top .container {
    display: flex;
    align-items: center;
  }
  
  #header.header-top .nav-menu {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #header.header-top {
      height: 60px;
    }
    #header.header-top h1 {
      font-size: 26px;
    }
  }
  
.container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
  }
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.write-up-section h2 {
  font-size: 18px;
  font-weight: 800;
  padding: 0;
  line-height: 1px;
  margin: 35px 0 20px 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: white;
  font-family: "Poppins", sans-serif;
}
.write-up-section .paragraph {
  margin: 0 100px 15px 15px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.write-up-section .mini-desc {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(206, 206, 206, 0.7);
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.write-up-section h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: rgb(0, 225, 255);
  margin: 4px 10px;
}

@media (max-width: 942px) {

  .write-up-section .paragraph {
    margin: 0 0 0 0;
    font-size: 13px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  .write-up-section h2::after {
    width: 0px;
    height: 0px;
  }
  .write-up-section h2 {
    font-size: 18px;
    font-weight: 800;
    padding: 0;
    line-height: 1px;
    margin: 35px 0 20px 0px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: white;
    font-family: "Poppins", sans-serif;
  }
}